.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #aec6cf;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #fff1f1;
}

.list-cell:filled:odd {
    -fx-background-color: derive(#fff1f1, 20%);
}

.list-cell .label {
    -fx-text-fill: #000000;
}
