.result-display {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 17px;
    -fx-text-fill: black;
}

.result-display .content {
    -fx-background-color: #fff1f1;
    -fx-background-radius: 0;
}

.result-display .label {
    -fx-text-fill: black !important;
}
