.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #aec6cf;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: derive(#d3d3d3, 50%);
    -fx-border-width: 0 0 1px 0;
}

.list-cell:filled:even {
    -fx-background-color: #fff1f1;
}

.list-cell:filled:odd {
    -fx-background-color: #fff1f1;
}

.list-cell:filled:selected {
    -fx-background-color: #fff1f1;
}

.list-cell:filled:selected .card-pane {
    -fx-border-color: #fff1f1;
    -fx-border-width: 0;
}

.list-cell .label {
    -fx-text-fill: #000000;
}

.pretty-list-view > .virtual-flow > .scroll-bar,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.pretty-list-view > .virtual-flow > .scroll-bar .decrement-button,
.pretty-list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-padding:0;
}
