.room-details-panel .background {
    -fx-background-color: #fff1f1;
    -fx-background-radius: 5.0;
}

.room-details-panel .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.scroll-pane {
    -fx-padding: 20px 40px 30px 40px;
    -fx-border-insets: 20px 40px 30px 40px;
    -fx-background-insets: 20px 40px 30px 40px;
}

.scroll-bar:vertical .track {
    -fx-background-color: black;
    -fx-padding: 3px 6px 3px 0;
}

.scroll-bar .thumb {
    -fx-background-color: #fff1f1;
    -fx-background-insets: 3px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 0;
}

.scrollbar .corner {
    -fx-background-color: #000000;
}

#room-number {
    -fx-font-size: 2.2em;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(31, 31, 31);
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill:  rgb(31, 31, 31);
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 1;
}
